import React from 'react'
import { HelmetDatoCms } from 'gatsby-source-datocms'
import Img from 'gatsby-image'
import { graphql } from 'gatsby'
import Layout from '../components/layout'

const About = ({ data }) => (
 <Layout data={data}>
    <div>
      <HelmetDatoCms seo={data.about.seoMetaTags} />
      <div>
        <h1>{data.about.title}</h1>
        <p>{data.about.subtitle}</p>
        <div>
          <Img sizes={data.about.photo.sizes} />
        </div>
        <div
          dangerouslySetInnerHTML={{
            __html: data.about.bioNode.childMarkdownRemark.html,
          }}
        />
      </div>
    </div>
  </Layout>
)

export default About

export const query = graphql`
  query AboutQuery {
    datoCmsSite {
      globalSeo {
        siteName
      }
      faviconMetaTags {
        ...GatsbyDatoCmsFaviconMetaTags
      }
    }
    datoCmsHome {
      seoMetaTags {
        ...GatsbyDatoCmsSeoMetaTags
      }
      introTextNode {
        childMarkdownRemark {
          html
        }
      }
      copyright
    }
    allDatoCmsSocialProfile(sort: { fields: [position], order: ASC }) {
      edges {
        node {
          profileType
          url
        }
      }
    }
    about: datoCmsAboutPage {
      seoMetaTags {
        ...GatsbyDatoCmsSeoMetaTags
      }
      title
      subtitle
      photo {
        sizes(maxWidth: 600, imgixParams: { fm: "jpg", auto: "compress" }) {
          ...GatsbyDatoCmsSizes
        }
      }
      bioNode {
        childMarkdownRemark {
          html
        }
      }
    }
  }
`
